.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.car-info-content {
  word-wrap: break-word;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

table {
  width: 100%;
}

.mat-row .mat-cell{
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent !important;
  cursor: pointer;
  transition: background-color 0.4s;
}

.mat-row:hover .mat-cell {
  background-color: #575757;
}