<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <mat-card  class="m-4">
        <mat-card-title class="m-1"><h3>Car specification</h3></mat-card-title>
        <mat-card-content *ngIf="car" class="car-info-content m-1">
            <p>Manufacturer: <b>{{ car.manufacturer }}</b></p>
            <p>Model: <b>{{ car.model }}</b></p>
            <p>Plate number: <b>{{ car.registration_number }}</b></p>
            <p>Engine capacity: <b>{{ car.engine_capacity }}</b></p>
            <p>Horse power: <b>{{ car.power }}</b></p>
            <p>VIN: <b>{{ car.vin }}</b></p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-9">
      <mat-card class="m-4">
        <mat-card-title class="m-1"><h3>Recent repairs</h3></mat-card-title>
        <mat-card-content class="">
          <table mat-table *ngIf="dataSource; else noRepairsBlock" [dataSource]="dataSource" class="mat-elevation-z8">
          
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Title </th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
          
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Category </th>
              <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>
          
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
          
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef> Created at </th>
              <td mat-cell *matCellDef="let element"> {{element.created_at | date}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons 
          aria-label="Select page of periodic elements">
          </mat-paginator>
          <ng-template #noRepairsBlock>
            <p class="m-1">There aren't any repair orders available for this car.</p>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>