<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <mat-card>
                <mat-card-title class="m-1">
                    <h3>Part storage</h3>
                </mat-card-title>
                <mat-card-content class="m-1">
                    
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <mat-card-title class="m-1">
                    <h3>Car specification</h3>
                </mat-card-title>
                <mat-card-content class="m-1">
                    <ol>
                        <li>news/info for workshop employees</li>
                        <li>find car repairs by plate num box</li>
                        <li>new repairs table</li>
                        <li>in progress repairs table</li>
                        <li>find part box</li>
                    </ol>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <mat-card-title class="m-1">
                    <h3>Find car repair</h3>
                </mat-card-title>
                <mat-card-content class="m-1">
                    
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
