<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <mat-card>
                <mat-card-title class="m-1">
                    <h3>Part storage</h3>
                </mat-card-title>
                <mat-card-content class="m-1">
                    
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <mat-card-title class="m-1">
                    <h3>Ideas</h3>
                </mat-card-title>
                <mat-card-content class="m-1">
                    <ol>
                        <li><s>news/info for workshop employees</s></li>
                        <li><s>find car repairs by plate num box</s></li>
                        <li><s>new repairs table</s></li>
                        <li><s>in progress repairs table</s></li>
                        <li><s>find part box</s></li>
                    </ol>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <mat-card-title class="m-1">
                    <h3>Find car repair</h3>
                </mat-card-title>
                <mat-card-content class="m-1">
                    
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
