.mat-form-field {
    width: 100%;
}

.status-submit-button {
    width: 100%;
}

mat-radio-button {
    margin-left: 16px;
    margin-bottom: 10px;
}

table {
    width: 100%;
}

.mat-elevation-z8 {
    overflow-x: auto;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;

    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }

    .mat-row,
    .mat-header-row {
        display: table-row;
    }

    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 20px 10px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        border: none;
    }
}

.mat-row:nth-child(odd) {
    background-color: #555555;
}

mat-expansion-panel {
    background-color: #555555;
}

mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) mat-expansion-panel-header:hover {
    background-color: #555555;
}
.vertical-center {
    
  align-items: center;
}