<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="rep-orders" routerLinkActive="active-link">Repair orders</a>
        <a mat-list-item routerLink="storage" routerLinkActive="active-link">Part storage</a>
        <h2 mat-subheader>Settings:</h2>
        <a mat-list-item [routerLink]="['/o-workshop']">Switch workshop</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>CMech - Owner Dashboard</span>
        <span class="toolbar-spacer"></span>
        <span>{{ nickname }}</span>
        <a mat-button (click)="onLogout()" href="">
          <mat-icon>exit_to_app</mat-icon> Logout
        </a>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>