<app-navbar></app-navbar>
<div class="container wrapper">
    <div class="row justify-content-center align-items-center my-4">
        <div class="col-11 col-sm-9 col-md-7 col-lg-5 ">
            <div class="workshops" *ngIf="workshops; else noWorkshopsBlock">
                <h1>Your workshops:</h1>
                <div *ngFor="let workshop of workshops">
                    <mat-card (click)="onWorkshopClick(workshop.id)" class="workshop-card my-3">
                        <mat-card-title >{{ workshop.name }}</mat-card-title>
                        <mat-card-content>
                            <p>{{ workshop.city }}, {{ workshop.street }} {{ workshop.number }}, {{ workshop.postal_code
                                }}
                                {{ workshop.voivodeship }}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <ng-template #noWorkshopsBlock>
                <h1 class="mb-4 text-center">One more step to start using our application...</h1>
                <mat-card class='my-2'>
                    <mat-card-content>
                        <h2 class='mb-4'>
                            There are no workshops connected to this account.
                        </h2>
                        <h3 class='my-2'>
                            Ask your employer to link your account by email.
                        </h3>
                    </mat-card-content>
                </mat-card>
            </ng-template>
        </div>
    </div>
</div>