.text-right {
    text-align: right;
}

table {
    width: 100%;
}

.input-full-width {
    width: 100%;
}

.mat-elevation-z8 {
    overflow-x: auto;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;

    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }

    .mat-row,
    .mat-header-row {
        display: table-row;
    }

    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 20px 10px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        border: none;
    }
}

.mat-row:nth-child(odd) {
    background-color: rgb(78, 78, 78);
}

.wrap {
    white-space: normal !important;
}

.arrow1-block {
    display: flex;
    align-items: center;
}

.arrow2-block {
    display: flex;
    align-items: center;
}

.colored {
    filter: grayscale(0);
}

.greyedOut {
    filter: grayscale(1);
}

.jump-animation {
    animation: jump 4000ms ease infinite;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

@keyframes jump {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.05, .95) translateY(0);
    }

    22% {
        transform: scale(.9, 1.1) translateY(-15px);
    }

    28% {
        transform: scale(1, 1) translateY(0);
    }

    38% {
        transform: scale(1, 1) translateY(-6px);
    }

    45% {
        transform: scale(1, 1) translateY(0);
    }

    50% {
        transform: scale(1, 1) translateY(-3px);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.hand-cursor {
    cursor: pointer;
}

div.break-word {
    word-wrap: break-word;
}