<app-navbar></app-navbar>
<div class="container">
    <div class="row header d-flex justify-content-center">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Pull up your repair order:</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                <mat-form-field class="search-input" appearance="fill">
                    <mat-label>Plate number</mat-label>
                    <input matInput placeholder="e.g. OPO2137" [(ngModel)]="registration_number">
                    <mat-icon matSuffix>directions_car</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                <mat-form-field class="search-input" appearance="fill">
                    <mat-label>Secret key</mat-label>
                    <input matInput placeholder="e.g. 1234567" [(ngModel)]="key">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <button class="search-button" mat-raised-button (click)="onSearch()">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <mat-divider class="row-margin"></mat-divider>
    <div class="row my-4">
        <div class="col title text-center mt-4">
            <h1>Make a new account or sign in if you already have one below:</h1>
            <button routerLink="/register" class="col-sm-2 m-2" mat-raised-button color="primary">Register</button>
            <button routerLink="/login" class="col-sm-2 m-2" mat-raised-button color="accent">Login</button>
        </div>
    </div>

    <div class="row">
        <div class="col title text-center mt-4">
            <h1>Why choose us?</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-3 m-2">
            <mat-card class="example-card">
                <div class="text-center m-4">
                    <mat-card-title>User friendly design</mat-card-title>
                    <mat-card-subtitle>
                        Clear, easy interface
                    </mat-card-subtitle>
                </div>
                <div class="text-center pt-2">
                    <img mat-card-image style="width: 100px;" src="../assets/ux.png" alt="Light bulb">
                </div>
                <mat-card-content class="mx-2">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo
                        consequat.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 m-2">
            <mat-card class="example-card">
                <div class="text-center m-4">
                    <mat-card-title>Customer support</mat-card-title>
                    <mat-card-subtitle>
                        Every client matters
                    </mat-card-subtitle>
                </div>
                <div class="text-center pt-2">
                    <img mat-card-image style="width: 100px;" src="../assets/team.png" alt="Light bulb">
                </div>
                <mat-card-content class="mx-2">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo
                        consequat.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 m-2">
            <mat-card class="example-card">
                <div class="text-center m-4">
                    <mat-card-title>Innovative idea</mat-card-title>
                    <mat-card-subtitle>
                        First such app on the internet
                    </mat-card-subtitle>
                </div>
                <div class="text-center pt-2">
                    <img mat-card-image style="width: 100px;" src="../assets/idea.png" alt="Light bulb">
                </div>
                <mat-card-content class="mx-2">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo
                        consequat.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <mat-divider class="row-margin"></mat-divider>
    <div class="row">
        <div class="col title text-center mt-4">
            <h1>Frequently asked questions:</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 m-2">
            <mat-card class="example-card">
                <mat-card-content>
                    <div class="row m-4">
                        <h2>Is the app free?</h2>
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis dignissim lorem eu
                            accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        </p>
                    </div>
                    <div class="row m-4">
                        <h2>My question isn't here, what now?</h2>
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis dignissim lorem eu
                            accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer in vehicula
                            ante, in laoreet turpis. Vestibulum consequat, turpis et ultricies varius, diam augue mattis
                            mi, vitae accumsan urna ante vitae ante.
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row footer">
        <mat-toolbar color="black">
            <span class="brand"></span>
        </mat-toolbar>
    </div>
</div>